* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    background: #f1f5f9;
    color: #1f2937;
}

nav {
    background: linear-gradient(90deg, #0f172a, #1e293b);
    color: white;
    padding: 20px;
    text-align: center;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
}

.nav-sub {
    font-size: 14px;
    opacity: 0.8;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.subtitle {
    color: #475569;
}

h1, h2 {
    margin-top: 0;
}

pre {
    background: #0f172a;
    color: #e5e7eb;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
}

code {
    background: #e2e8f0;
    padding: 4px 8px;
    border-radius: 6px;
}
.copy-btn{
    background: #cdcdcd;
    border-radius: 5px;
    margin-top: 3px;
}
.chips span {
    display: inline-block;
    background: #e2e8f0;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    font-size: 14px;
}

.endpoint {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.method {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    color: white;
    margin-right: 10px;
}

.get { background: #22c55e; }
.post { background: #3b82f6; }
.delete { background: #ef4444; }

.note {
    margin-top: 10px;
    background: #fef3c7;
    padding: 12px;
    border-left: 5px solid #f59e0b;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #e5e7eb;
    padding: 10px;
    text-align: left;
}

footer {
    padding: 25px;
    background: #0f172a;
    color: white;
}

footer a {
    color: #60a5fa;
    text-decoration: none;
}
